.search-area, .search-area-content {
    flex: 1 1 100%;
}

@media (max-width: 600px) {
    .search-area-content {
        flex-direction: column !important;
        align-items: center !important;
    }
}